
/* Default Font */
* {
  font-family: Intel One Mono, monospace;
  --main-color: #161616;
  --secondary-color: #fafafa;
}


.tab-text.tab-label {
    font-size: 1.25em;
}

#urlbar-input {
    padding-left: 1% !important;
}
.toolbarbutton-1.chromeclass-toolbar-additional.tabs-alltabs-button {
    display: none !important;
}
#firefox-view-button {
    display: none !important;
}
#import-button {
    display: none !important;
}
#sidebar-button {
    display: none !important;
}
.urlbar-revert-button{
    display: none !important;
}
.searchmode-switcher.chromeclass-toolbar-additional {
    display: none !important;
}
.toolbarbutton-1.chromeclass-toolbar-additional.subviewbutton-nav{
    display: none !important;
}

/* Note: Hide Activity Stream / Home content rules are in userContent.css */
